  <form action="" method="post" id="Login">
      <!-- Left section of the form -->
      <div class="left">
        <div>
          <!-- Welcome message and registration link -->
          <p>Hello, Welcome!</p>
          <a href="">Don't have an account? </a>
          <!-- <input type="submit" name="" id="" value="Register" /> -->
           <input type="submit" value="Register" (click)="goToRegister()" />

        </div>
      </div>

      <!-- Right section of the form -->
      <div class="right">
        <div>
          <!-- Login heading -->
          <h1>Login</h1>

          <!-- Username input field -->
          <input type="text" [(ngModel)]="loginObj.UserName" name="Username" id="" placeholder="Username" />
          <!-- <span class="material-symbols-outlined person"> person </span> -->

          <!-- Password input field -->
          <input type="password" [(ngModel)]="loginObj.Password" name="Password" id="" placeholder="Password" />
          <!-- <span class="material-symbols-outlined lock"> lock </span> -->

          <!-- Forgot password link -->
          <a href="">Forgot Password?</a>

          <!-- Login button -->
          <button type="button" (click)="OnLogin()">Login</button>

          <!-- Social login options -->
          <!-- <p>or login with social platforms</p>
          <div>
            
            <a href=""><i class="fa-brands fa-google fa-align-center"></i> </a>
            <a href=""><i class="fa-brands fa-facebook-f fa-align-center"></i></a>
            <a href=""><i class="fa-brands fa-github fa-align-center"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in fa-align-center"></i></a>
          </div> -->
        </div>
      </div>
    </form>

