<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
  <a class="navbar-brand fw-bold text-primary" href="#">Schoolity</a>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item mx-2">
        <a class="nav-link active fw-semibold" href="#" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link fw-semibold" href="#" routerLink="studentprogress">My Progress</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link fw-semibold" href="#" routerLink="studentschedule">My Schedule</a>
      </li>
    </ul>
    <a class="btn btn-primary ms-3" routerLink="login">Log Out</a>
  </div>
</nav>
<router-outlet></router-outlet>

