<!-- Dashboard Cards -->
<div class="container">
  <div class="cards">
      <div class="card blue">
        <p>Classes</p>
        <h3>{{numOfStd}}</h3>
      </div>
      <div class="card blue">
        <p>Total Students</p>
        <h3>120</h3>
      </div>
      <div class="card white">
        <h4>Important Notice</h4>
        <p>Some important notification text</p>
      </div>
    </div> 
</div>

    <!-- Class Schedule Table -->
    <!-- <div class="schedule">
      <h4>Class Schedule</h4>
      <table>
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>09:00 AM</td>
            <td>Physics</td>
            <td>Physics</td>
            <td>Mathematics</td>
            <td>Mathematics</td>
          </tr>
          <tr>
            <td>11:00 AM</td>
            <td>Physics</td>
            <td>History</td>
            <td>Physics</td>
            <td>Literature</td>
          </tr>
          <tr>
            <td>12:00 PM</td>
            <td>Literature</td>
            <td>Mathematics</td>
            <td>Thursday</td>
            <td>Mathematics</td>
          </tr>
        </tbody>
      </table>
    </div>  -->